html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

h2 {
    letter-spacing: 0.5px;
}

footer a:hover {
    text-decoration: underline;
}
/* Thu nho banner */
#mainCarousel {
    width: 100%;
}

.banner-img {
    height: 500px; /* hight banner */
    object-fit: cover; /* auto fit */
    border-radius: 10px; /* Bo g�c 10px */
}

.btn-primary, .bg-primary {
    background-color: #007bff !important;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.carousel-caption {
    background: rgba(0,0,0,0.45);
    padding: 20px;
    border-radius: 10px;
}

.product-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

    .product-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }

.category-img {
    height: 230px; /* Giu ti le dong deu */
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.category-card .card-body {
    padding: 1.5rem;
}

.category-card .btn {
    margin-top: 0.5rem;
}
.pagination .page-link {
    border-radius: 8px;
    margin: 0 4px;
}

.pagination .active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}
.hero-img {
    height: 360px;
    object-fit: cover;
}

.cat-box {
    text-decoration: none;
    display: block;
    transition: .3s;
}

    .cat-box:hover {
        transform: translateY(-6px);
    }

.cat-img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 12px;
}

.product-card {
    transition: .3s;
    border-radius: 12px;
}

    .product-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    }

.product-img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}
